In [1]:
# 필요한 라이브러리 설치 및 임포트
!pip install pandas

import pandas as pd
import datetime

Requirement already satisfied: pandas in c:\programdata\anaconda3\envs\tf\lib\site-packages (1.5.2)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\user\appdata\roaming\python\python310\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\envs\tf\lib\site-packages (from pandas) (2022.7)
Requirement already satisfied: numpy>=1.21.0 in c:\programdata\anaconda3\envs\tf\lib\site-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in c:\users\user\appdata\roaming\python\python310\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

---

# [Step 2] 데이터 전처리

#### **<span style="color:blue">[2-0] air_21, air_22, weather_21, weather_22 데이터 로딩</span>**

In [2]:
# 데이터 로딩
air_21 = pd.read_csv('데이터/air_2021.csv', index_col=0, encoding='utf-8')
air_22 = pd.read_csv('데이터/air_2022.csv', index_col=0, encoding='utf-8')
weather_21 = pd.read_csv('데이터/weather_2021.csv', encoding='cp949')
weather_22 = pd.read_csv('데이터/weather_2022.csv', encoding='cp949')

In [3]:
pd.set_option('display.max_columns', 500)

In [4]:
air_21.head()

,지역,망,측정소코드,측정소명,측정일시,SO2,CO,O3,NO2,PM10,PM25,주소
0,서울 종로구,도시대기,111123,종로구,2021100101,0.003,0.6,0.002,0.039,31.0,18.0,서울 종로구 종로35가길 19
1,서울 종로구,도시대기,111123,종로구,2021100102,0.003,0.6,0.002,0.035,27.0,16.0,서울 종로구 종로35가길 19
2,서울 종로구,도시대기,111123,종로구,2021100103,0.003,0.6,0.002,0.033,28.0,18.0,서울 종로구 종로35가길 19
3,서울 종로구,도시대기,111123,종로구,2021100104,0.003,0.6,0.002,0.030,26.0,16.0,서울 종로구 종로35가길 19
4,서울 종로구,도시대기,111123,종로구,2021100105,0.003,0.5,0.003,0.026,26.0,16.0,서울 종로구 종로35가길 19

In [5]:
weather_21.head()

,지점,지점명,일시,기온(°C),기온 QC플래그,강수량(mm),강수량 QC플래그,풍속(m/s),풍속 QC플래그,풍향(16방위),풍향 QC플래그,습도(%),습도 QC플래그,증기압(hPa),이슬점온도(°C),현지기압(hPa),현지기압 QC플래그,해면기압(hPa),해면기압 QC플래그,일조(hr),일조 QC플래그,일사(MJ/m2),일사 QC플래그,적설(cm),3시간신적설(cm),전운량(10분위),중하층운량(10분위),운형(운형약어),최저운고(100m ),시정(10m),지면상태(지면상태코드),현상번호(국내식),지면온도(°C),지면온도 QC플래그,5cm 지중온도(°C),10cm 지중온도(°C),20cm 지중온도(°C),30cm 지중온도(°C)
0,108,서울,2021-01-01 01:00,-8.7,NaN,NaN,NaN,2.4,NaN,270.0,NaN,68,NaN,2.2,-13.5,1016.4,NaN,1027.7,NaN,NaN,9.0,NaN,9.0,NaN,NaN,0.0,0,NaN,NaN,2000,NaN,NaN,-6.9,NaN,-1.0,-0.8,0.3,1.6
1,108,서울,2021-01-01 02:00,-9.1,NaN,NaN,NaN,1.6,NaN,270.0,NaN,69,NaN,2.1,-13.7,1016.2,NaN,1027.5,NaN,NaN,9.0,NaN,9.0,NaN,NaN,0.0,0,NaN,NaN,2000,NaN,NaN,-7.1,NaN,-1.1,-0.8,0.3,1.6
2,108,서울,2021-01-01 03:00,-9.3,NaN,NaN,NaN,1.1,NaN,250.0,NaN,70,NaN,2.1,-13.7,1016.8,NaN,1028.1,NaN,NaN,9.0,NaN,9.0,NaN,NaN,0.0,0,NaN,NaN,2000,NaN,NaN,-7.3,NaN,-1.2,-0.9,0.3,1.6
3,108,서울,2021-01-01 04:00,-9.3,NaN,NaN,NaN,0.3,NaN,0.0,NaN,71,NaN,2.2,-13.5,1016.2,NaN,1027.5,NaN,NaN,9.0,NaN,9.0,NaN,NaN,0.0,0,NaN,NaN,2000,NaN,NaN,-7.5,NaN,-1.3,-1.0,0.2,1.5
4,108,서울,2021-01-01 05:00,-9.7,NaN,NaN,NaN,1.9,NaN,20.0,NaN,72,NaN,2.1,-13.8,1015.6,NaN,1026.9,NaN,NaN,9.0,NaN,9.0,NaN,NaN,0.0,0,NaN,NaN,2000,NaN,NaN,-7.6,NaN,-1.3,-1.0,0.2,1.5

In [6]:
air_21.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8760 entries, 0 to 8759
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   지역      8760 non-null   object
 1   망       8760 non-null   object
 2   측정소코드   8760 non-null   int64
 3   측정소명    8760 non-null   object
 4   측정일시    8760 non-null   int64
 5   SO2     8648 non-null   float64
 6   CO      8680 non-null   float64
 7   O3      8663 non-null   float64
 8   NO2     8680 non-null   float64
 9   PM10    8655 non-null   float64
 10  PM25    8663 non-null   float64
 11  주소      8760 non-null   object
dtypes: float64(6), int64(2), object(4)
memory usage: 889.7+ KB

In [7]:
weather_21.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8759 entries, 0 to 8758
Data columns (total 38 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   지점             8759 non-null   int64
 1   지점명            8759 non-null   object
 2   일시             8759 non-null   object
 3   기온(°C)         8759 non-null   float64
 4   기온 QC플래그       0 non-null      float64
 5   강수량(mm)        949 non-null    float64
 6   강수량 QC플래그      1763 non-null   float64
 7   풍속(m/s)        8757 non-null   float64
 8   풍속 QC플래그       2 non-null      float64
 9   풍향(16방위)       8757 non-null   float64
 10  풍향 QC플래그       2 non-null      float64
 11  습도(%)          8759 non-null   int64
 12  습도 QC플래그       0 non-null      float64
 13  증기압(hPa)       8759 non-null   float64
 14  이슬점온도(°C)      8759 non-null   float64
 15  현지기압(hPa)      8759 non-null   float64
 16  현지기압 QC플래그     0 non-null      float64
 17  해면기압(hPa)      8759 non-null   float64
 18  해면기압 QC플래그     0 non-null      float64
 19  일조(hr)         4791 non-null   float64
 20  일조 QC플래그       3968 non-null   float64
 21  일사(MJ/m2)      4791 non-null   float64
 22  일사 QC플래그       3968 non-null   float64
 23  적설(cm)         379 non-null    float64
 24  3시간신적설(cm)     29 non-null     float64
 25  전운량(10분위)      8757 non-null   float64
 26  중하층운량(10분위)    8759 non-null   int64
 27  운형(운형약어)       4947 non-null   object
 28  최저운고(100m )    4547 non-null   float64
 29  시정(10m)        8759 non-null   int64
 30  지면상태(지면상태코드)   0 non-null      float64
 31  현상번호(국내식)      2125 non-null   float64
 32  지면온도(°C)       8754 non-null   float64
 33  지면온도 QC플래그     24 non-null     float64
 34  5cm 지중온도(°C)   8754 non-null   float64
 35  10cm 지중온도(°C)  8754 non-null   float64
 36  20cm 지중온도(°C)  8754 non-null   float64
 37  30cm 지중온도(°C)  8754 non-null   float64
dtypes: float64(31), int64(4), object(3)
memory usage: 2.5+ MB

#### **<span style="color:blue">[2-1] air_21, air_22 의 '측정일시'를 활용하여 'time' 변수 생성</span>**

* air_21, air_22 의 '측정일시'를 활용하여 'time'변수 생성
* time 변수를 to_datetime으로 데이터 타입 변경
* 참고: 미세먼지 데이터는 1시-24시, 날씨 데이터는 0시-23시로 구성되어 있습니다. [2-5]에서 미세먼지와 날씨 데이터를 time 기준으로 합치려면 날씨 기준이 동일해야 합니다. 미세먼지 데이터에서 time 변수 생성 시 이를 미리 고려(예:측정일시 값 -1)하세요.

In [8]:
air_21.head()

,지역,망,측정소코드,측정소명,측정일시,SO2,CO,O3,NO2,PM10,PM25,주소
0,서울 종로구,도시대기,111123,종로구,2021100101,0.003,0.6,0.002,0.039,31.0,18.0,서울 종로구 종로35가길 19
1,서울 종로구,도시대기,111123,종로구,2021100102,0.003,0.6,0.002,0.035,27.0,16.0,서울 종로구 종로35가길 19
2,서울 종로구,도시대기,111123,종로구,2021100103,0.003,0.6,0.002,0.033,28.0,18.0,서울 종로구 종로35가길 19
3,서울 종로구,도시대기,111123,종로구,2021100104,0.003,0.6,0.002,0.030,26.0,16.0,서울 종로구 종로35가길 19
4,서울 종로구,도시대기,111123,종로구,2021100105,0.003,0.5,0.003,0.026,26.0,16.0,서울 종로구 종로35가길 19

In [9]:
air_21.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8760 entries, 0 to 8759
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   지역      8760 non-null   object
 1   망       8760 non-null   object
 2   측정소코드   8760 non-null   int64
 3   측정소명    8760 non-null   object
 4   측정일시    8760 non-null   int64
 5   SO2     8648 non-null   float64
 6   CO      8680 non-null   float64
 7   O3      8663 non-null   float64
 8   NO2     8680 non-null   float64
 9   PM10    8655 non-null   float64
 10  PM25    8663 non-null   float64
 11  주소      8760 non-null   object
dtypes: float64(6), int64(2), object(4)
memory usage: 889.7+ KB

In [10]:
test = air_21

In [11]:
test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8760 entries, 0 to 8759
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   지역      8760 non-null   object
 1   망       8760 non-null   object
 2   측정소코드   8760 non-null   int64
 3   측정소명    8760 non-null   object
 4   측정일시    8760 non-null   int64
 5   SO2     8648 non-null   float64
 6   CO      8680 non-null   float64
 7   O3      8663 non-null   float64
 8   NO2     8680 non-null   float64
 9   PM10    8655 non-null   float64
 10  PM25    8663 non-null   float64
 11  주소      8760 non-null   object
dtypes: float64(6), int64(2), object(4)
memory usage: 889.7+ KB

In [21]:
# 자료형 확인
test['측정일시']

0       2021100101
1       2021100102
2       2021100103
3       2021100104
4       2021100105
           ...
8755    2021093020
8756    2021093021
8757    2021093022
8758    2021093023
8759    2021093024
Name: 측정일시, Length: 8760, dtype: int64

In [35]:
# int > str
test['측정일시'] = test['측정일시'].astype('int')

In [36]:
# 자료형 다시 확인 >> 문자열인지!  > -1 하려고 다시 인트형으로 바꿈 
test['측정일시']

0       2021100101
1       2021100102
2       2021100103
3       2021100104
4       2021100105
           ...
8755    2021093020
8756    2021093021
8757    2021093022
8758    2021093023
8759    2021093024
Name: 측정일시, Length: 8760, dtype: int32

In [52]:
# x = pd.to_datetime(test['측정일시'],)
air_21['time'] = pd.to_datetime(test['측정일시'] - 1, format = '%Y%m%d%H')
air_21

,지역,망,측정소코드,측정소명,측정일시,SO2,CO,O3,NO2,PM10,PM25,주소,time
0,서울 종로구,도시대기,111123,종로구,2021100101,0.003,0.6,0.002,0.039,31.0,18.0,서울 종로구 종로35가길 19,2021-10-01 00:00:00
1,서울 종로구,도시대기,111123,종로구,2021100102,0.003,0.6,0.002,0.035,27.0,16.0,서울 종로구 종로35가길 19,2021-10-01 01:00:00
2,서울 종로구,도시대기,111123,종로구,2021100103,0.003,0.6,0.002,0.033,28.0,18.0,서울 종로구 종로35가길 19,2021-10-01 02:00:00
3,서울 종로구,도시대기,111123,종로구,2021100104,0.003,0.6,0.002,0.030,26.0,16.0,서울 종로구 종로35가길 19,2021-10-01 03:00:00
4,서울 종로구,도시대기,111123,종로구,2021100105,0.003,0.5,0.003,0.026,26.0,16.0,서울 종로구 종로35가길 19,2021-10-01 04:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8755,서울 종로구,도시대기,111123,종로구,2021093020,0.003,0.7,0.020,0.036,35.0,24.0,서울 종로구 종로35가길 19,2021-09-30 19:00:00
8756,서울 종로구,도시대기,111123,종로구,2021093021,0.003,0.6,0.016,0.035,34.0,21.0,서울 종로구 종로35가길 19,2021-09-30 20:00:00
8757,서울 종로구,도시대기,111123,종로구,2021093022,0.003,0.6,0.012,0.036,30.0,19.0,서울 종로구 종로35가길 19,2021-09-30 21:00:00
8758,서울 종로구,도시대기,111123,종로구,2021093023,0.003,0.6,0.004,0.042,33.0,19.0,서울 종로구 종로35가길 19,2021-09-30 22:00:00
8759,서울 종로구,도시대기,111123,종로구,2021093024,0.003,0.6,0.003,0.042,29.0,17.0,서울 종로구 종로35가길 19,2021-09-30 23:00:00

In [53]:
air_22['time'] = pd.to_datetime(air_22['측정일시'] - 1, format = '%Y%m%d%H')
air_22

,지역,망,측정소코드,측정소명,측정일시,SO2,CO,O3,NO2,PM10,PM25,주소,time
0,서울 종로구,도시대기,111123,종로구,2022010101,0.003,0.4,0.026,0.016,23.0,12.0,서울 종로구 종로35가길 19,2022-01-01 00:00:00
1,서울 종로구,도시대기,111123,종로구,2022010102,0.003,0.4,0.022,0.020,20.0,9.0,서울 종로구 종로35가길 19,2022-01-01 01:00:00
2,서울 종로구,도시대기,111123,종로구,2022010103,0.003,0.5,0.014,0.028,20.0,9.0,서울 종로구 종로35가길 19,2022-01-01 02:00:00
3,서울 종로구,도시대기,111123,종로구,2022010104,0.003,0.5,0.016,0.027,19.0,10.0,서울 종로구 종로35가길 19,2022-01-01 03:00:00
4,서울 종로구,도시대기,111123,종로구,2022010105,0.003,0.5,0.005,0.040,24.0,11.0,서울 종로구 종로35가길 19,2022-01-01 04:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2155,서울 종로구,도시대기,111123,종로구,2022033120,0.002,0.4,0.036,0.017,11.0,8.0,서울 종로구 종로35가길 19,2022-03-31 19:00:00
2156,서울 종로구,도시대기,111123,종로구,2022033121,0.002,0.4,0.032,0.018,10.0,7.0,서울 종로구 종로35가길 19,2022-03-31 20:00:00
2157,서울 종로구,도시대기,111123,종로구,2022033122,0.003,0.3,0.038,0.013,11.0,5.0,서울 종로구 종로35가길 19,2022-03-31 21:00:00
2158,서울 종로구,도시대기,111123,종로구,2022033123,0.003,0.3,0.036,0.015,11.0,5.0,서울 종로구 종로35가길 19,2022-03-31 22:00:00
2159,서울 종로구,도시대기,111123,종로구,2022033124,0.002,0.4,0.033,0.017,9.0,5.0,서울 종로구 종로35가길 19,2022-03-31 23:00:00

In [78]:
air_21.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8760 entries, 0 to 8759
Data columns (total 13 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   지역      8760 non-null   object
 1   망       8760 non-null   object
 2   측정소코드   8760 non-null   int64
 3   측정소명    8760 non-null   object
 4   측정일시    8760 non-null   int32
 5   SO2     8648 non-null   float64
 6   CO      8680 non-null   float64
 7   O3      8663 non-null   float64
 8   NO2     8680 non-null   float64
 9   PM10    8655 non-null   float64
 10  PM25    8663 non-null   float64
 11  주소      8760 non-null   object
 12  time    8760 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(6), int32(1), int64(1), object(4)
memory usage: 923.9+ KB

---

#### **<span style="color:blue">[2-2] weather_21, weather_22 의 '일시'를 활용하여 'time' 변수 생성</span>**

* weather_21, weather_22 의 '일시'를 활용하여 'time'변수 생성
* time 변수를 to_datetime으로 데이터 타입 변경

In [43]:
weather_21.head()

,지점,지점명,일시,기온(°C),기온 QC플래그,강수량(mm),강수량 QC플래그,풍속(m/s),풍속 QC플래그,풍향(16방위),풍향 QC플래그,습도(%),습도 QC플래그,증기압(hPa),이슬점온도(°C),현지기압(hPa),현지기압 QC플래그,해면기압(hPa),해면기압 QC플래그,일조(hr),일조 QC플래그,일사(MJ/m2),일사 QC플래그,적설(cm),3시간신적설(cm),전운량(10분위),중하층운량(10분위),운형(운형약어),최저운고(100m ),시정(10m),지면상태(지면상태코드),현상번호(국내식),지면온도(°C),지면온도 QC플래그,5cm 지중온도(°C),10cm 지중온도(°C),20cm 지중온도(°C),30cm 지중온도(°C)
0,108,서울,2021-01-01 01:00,-8.7,NaN,NaN,NaN,2.4,NaN,270.0,NaN,68,NaN,2.2,-13.5,1016.4,NaN,1027.7,NaN,NaN,9.0,NaN,9.0,NaN,NaN,0.0,0,NaN,NaN,2000,NaN,NaN,-6.9,NaN,-1.0,-0.8,0.3,1.6
1,108,서울,2021-01-01 02:00,-9.1,NaN,NaN,NaN,1.6,NaN,270.0,NaN,69,NaN,2.1,-13.7,1016.2,NaN,1027.5,NaN,NaN,9.0,NaN,9.0,NaN,NaN,0.0,0,NaN,NaN,2000,NaN,NaN,-7.1,NaN,-1.1,-0.8,0.3,1.6
2,108,서울,2021-01-01 03:00,-9.3,NaN,NaN,NaN,1.1,NaN,250.0,NaN,70,NaN,2.1,-13.7,1016.8,NaN,1028.1,NaN,NaN,9.0,NaN,9.0,NaN,NaN,0.0,0,NaN,NaN,2000,NaN,NaN,-7.3,NaN,-1.2,-0.9,0.3,1.6
3,108,서울,2021-01-01 04:00,-9.3,NaN,NaN,NaN,0.3,NaN,0.0,NaN,71,NaN,2.2,-13.5,1016.2,NaN,1027.5,NaN,NaN,9.0,NaN,9.0,NaN,NaN,0.0,0,NaN,NaN,2000,NaN,NaN,-7.5,NaN,-1.3,-1.0,0.2,1.5
4,108,서울,2021-01-01 05:00,-9.7,NaN,NaN,NaN,1.9,NaN,20.0,NaN,72,NaN,2.1,-13.8,1015.6,NaN,1026.9,NaN,NaN,9.0,NaN,9.0,NaN,NaN,0.0,0,NaN,NaN,2000,NaN,NaN,-7.6,NaN,-1.3,-1.0,0.2,1.5

In [45]:
weather_21.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8759 entries, 0 to 8758
Data columns (total 38 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   지점             8759 non-null   int64
 1   지점명            8759 non-null   object
 2   일시             8759 non-null   object
 3   기온(°C)         8759 non-null   float64
 4   기온 QC플래그       0 non-null      float64
 5   강수량(mm)        949 non-null    float64
 6   강수량 QC플래그      1763 non-null   float64
 7   풍속(m/s)        8757 non-null   float64
 8   풍속 QC플래그       2 non-null      float64
 9   풍향(16방위)       8757 non-null   float64
 10  풍향 QC플래그       2 non-null      float64
 11  습도(%)          8759 non-null   int64
 12  습도 QC플래그       0 non-null      float64
 13  증기압(hPa)       8759 non-null   float64
 14  이슬점온도(°C)      8759 non-null   float64
 15  현지기압(hPa)      8759 non-null   float64
 16  현지기압 QC플래그     0 non-null      float64
 17  해면기압(hPa)      8759 non-null   float64
 18  해면기압 QC플래그     0 non-null      float64
 19  일조(hr)         4791 non-null   float64
 20  일조 QC플래그       3968 non-null   float64
 21  일사(MJ/m2)      4791 non-null   float64
 22  일사 QC플래그       3968 non-null   float64
 23  적설(cm)         379 non-null    float64
 24  3시간신적설(cm)     29 non-null     float64
 25  전운량(10분위)      8757 non-null   float64
 26  중하층운량(10분위)    8759 non-null   int64
 27  운형(운형약어)       4947 non-null   object
 28  최저운고(100m )    4547 non-null   float64
 29  시정(10m)        8759 non-null   int64
 30  지면상태(지면상태코드)   0 non-null      float64
 31  현상번호(국내식)      2125 non-null   float64
 32  지면온도(°C)       8754 non-null   float64
 33  지면온도 QC플래그     24 non-null     float64
 34  5cm 지중온도(°C)   8754 non-null   float64
 35  10cm 지중온도(°C)  8754 non-null   float64
 36  20cm 지중온도(°C)  8754 non-null   float64
 37  30cm 지중온도(°C)  8754 non-null   float64
dtypes: float64(31), int64(4), object(3)
memory usage: 2.5+ MB

In [57]:
# 아래에 필요한 코드를 작성하고 결과를 확인합니다.
weather_21['time'] = pd.to_datetime(weather_21['일시'], format = '%Y-%m-%d %H:%M')
weather_22['time'] = pd.to_datetime(weather_22['일시'], format = '%Y-%m-%d %H:%M')
weather_21

,지점,지점명,일시,기온(°C),기온 QC플래그,강수량(mm),강수량 QC플래그,풍속(m/s),풍속 QC플래그,풍향(16방위),풍향 QC플래그,습도(%),습도 QC플래그,증기압(hPa),이슬점온도(°C),현지기압(hPa),현지기압 QC플래그,해면기압(hPa),해면기압 QC플래그,일조(hr),일조 QC플래그,일사(MJ/m2),일사 QC플래그,적설(cm),3시간신적설(cm),전운량(10분위),중하층운량(10분위),운형(운형약어),최저운고(100m ),시정(10m),지면상태(지면상태코드),현상번호(국내식),지면온도(°C),지면온도 QC플래그,5cm 지중온도(°C),10cm 지중온도(°C),20cm 지중온도(°C),30cm 지중온도(°C),time
0,108,서울,2021-01-01 01:00,-8.7,NaN,NaN,NaN,2.4,NaN,270.0,NaN,68,NaN,2.2,-13.5,1016.4,NaN,1027.7,NaN,NaN,9.0,NaN,9.0,NaN,NaN,0.0,0,NaN,NaN,2000,NaN,NaN,-6.9,NaN,-1.0,-0.8,0.3,1.6,2021-01-01 01:00:00
1,108,서울,2021-01-01 02:00,-9.1,NaN,NaN,NaN,1.6,NaN,270.0,NaN,69,NaN,2.1,-13.7,1016.2,NaN,1027.5,NaN,NaN,9.0,NaN,9.0,NaN,NaN,0.0,0,NaN,NaN,2000,NaN,NaN,-7.1,NaN,-1.1,-0.8,0.3,1.6,2021-01-01 02:00:00
2,108,서울,2021-01-01 03:00,-9.3,NaN,NaN,NaN,1.1,NaN,250.0,NaN,70,NaN,2.1,-13.7,1016.8,NaN,1028.1,NaN,NaN,9.0,NaN,9.0,NaN,NaN,0.0,0,NaN,NaN,2000,NaN,NaN,-7.3,NaN,-1.2,-0.9,0.3,1.6,2021-01-01 03:00:00
3,108,서울,2021-01-01 04:00,-9.3,NaN,NaN,NaN,0.3,NaN,0.0,NaN,71,NaN,2.2,-13.5,1016.2,NaN,1027.5,NaN,NaN,9.0,NaN,9.0,NaN,NaN,0.0,0,NaN,NaN,2000,NaN,NaN,-7.5,NaN,-1.3,-1.0,0.2,1.5,2021-01-01 04:00:00
4,108,서울,2021-01-01 05:00,-9.7,NaN,NaN,NaN,1.9,NaN,20.0,NaN,72,NaN,2.1,-13.8,1015.6,NaN,1026.9,NaN,NaN,9.0,NaN,9.0,NaN,NaN,0.0,0,NaN,NaN,2000,NaN,NaN,-7.6,NaN,-1.3,-1.0,0.2,1.5,2021-01-01 05:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8754,108,서울,2021-12-31 19:00,-6.4,NaN,NaN,NaN,2.2,NaN,250.0,NaN,34,NaN,1.3,-19.7,1021.1,NaN,1032.3,NaN,NaN,9.0,NaN,9.0,NaN,NaN,0.0,0,NaN,NaN,2000,NaN,NaN,-4.5,NaN,-0.5,-0.7,-0.1,1.0,2021-12-31 19:00:00
8755,108,서울,2021-12-31 20:00,-6.3,NaN,NaN,NaN,4.1,NaN,320.0,NaN,35,NaN,1.3,-19.2,1021.2,NaN,1032.4,NaN,NaN,9.0,NaN,9.0,NaN,NaN,0.0,0,NaN,NaN,2000,NaN,NaN,-5.3,NaN,-0.6,-0.8,-0.1,1.0,2021-12-31 20:00:00
8756,108,서울,2021-12-31 21:00,-6.7,NaN,NaN,NaN,4.8,NaN,320.0,NaN,36,NaN,1.3,-19.3,1021.2,NaN,1032.4,NaN,NaN,9.0,NaN,9.0,NaN,NaN,0.0,0,NaN,NaN,2000,NaN,NaN,-5.7,NaN,-0.7,-0.8,-0.1,1.0,2021-12-31 21:00:00
8757,108,서울,2021-12-31 22:00,-7.5,NaN,NaN,NaN,3.0,NaN,320.0,NaN,37,NaN,1.3,-19.7,1021.8,NaN,1033.1,NaN,NaN,9.0,NaN,9.0,NaN,NaN,0.0,0,NaN,NaN,2000,NaN,NaN,-6.2,NaN,-0.8,-0.9,-0.2,1.0,2021-12-31 22:00:00
8758,108,서울,2021-12-31 23:00,-7.7,NaN,NaN,NaN,2.9,NaN,320.0,NaN,38,NaN,1.3,-19.5,1021.9,NaN,1033.2,NaN,NaN,9.0,NaN,9.0,NaN,NaN,0.0,0,NaN,NaN,2000,NaN,NaN,-6.5,NaN,-0.9,-0.9,-0.2,1.0,2021-12-31 23:00:00

---

#### **<span style="color:blue">[2-3] 'time' 기준으로 데이터 합치기</span>**

* 미세먼지 데이터와 날씨 데이터를 'time' 기준으로 합쳐보세요.
* df_21에는 'time' 기준으로 21년도 미세먼지, 날씨 데이터를 합쳐보세요.
* df_22에는 'time' 기준으로 22년도 미세먼지, 날씨 데이터를 합쳐보세요.

In [60]:
# 아래에 필요한 코드를 작성하고 결과를 확인합니다.
# ['time']을 기준으로 inner merge
df_21 = pd.merge(air_21, weather_21, how='inner', on='time')
df_22 = pd.merge(air_22, weather_22, how='inner', on='time')

---

#### **<span style="color:blue">[2-4] 사용하지 않을 변수 제거</span>**

* 머신러닝에 사용하지 않을 변수들을 제거해줍니다.
* df_21, df_22에 사용할 변수들만 넣어보세요.

In [61]:
df_21.head(2)

,지역,망,측정소코드,측정소명,측정일시,SO2,CO,O3,NO2,PM10,PM25,주소,time,지점,지점명,일시,기온(°C),기온 QC플래그,강수량(mm),강수량 QC플래그,풍속(m/s),풍속 QC플래그,풍향(16방위),풍향 QC플래그,습도(%),습도 QC플래그,증기압(hPa),이슬점온도(°C),현지기압(hPa),현지기압 QC플래그,해면기압(hPa),해면기압 QC플래그,일조(hr),일조 QC플래그,일사(MJ/m2),일사 QC플래그,적설(cm),3시간신적설(cm),전운량(10분위),중하층운량(10분위),운형(운형약어),최저운고(100m ),시정(10m),지면상태(지면상태코드),현상번호(국내식),지면온도(°C),지면온도 QC플래그,5cm 지중온도(°C),10cm 지중온도(°C),20cm 지중온도(°C),30cm 지중온도(°C)
0,서울 종로구,도시대기,111123,종로구,2021100101,0.003,0.6,0.002,0.039,31.0,18.0,서울 종로구 종로35가길 19,2021-10-01 00:00:00,108,서울,2021-10-01 00:00,19.2,NaN,NaN,NaN,1.3,NaN,360.0,NaN,83,NaN,18.4,16.2,998.8,NaN,1008.7,NaN,NaN,9.0,NaN,9.0,NaN,NaN,0.0,0,NaN,NaN,2000,NaN,NaN,17.8,NaN,22.3,22.3,22.7,22.9
1,서울 종로구,도시대기,111123,종로구,2021100102,0.003,0.6,0.002,0.035,27.0,16.0,서울 종로구 종로35가길 19,2021-10-01 01:00:00,108,서울,2021-10-01 01:00,18.7,NaN,NaN,NaN,1.0,NaN,20.0,NaN,85,NaN,18.3,16.1,998.8,NaN,1008.7,NaN,NaN,9.0,NaN,9.0,NaN,NaN,0.0,0,NaN,NaN,2000,NaN,NaN,17.4,NaN,22.1,22.0,22.5,22.9

- 플래그 빼고
- 가변수화 빼고
- 하루 전
- 여기서 만들라고 한 month, day, our, 하루 전 pm10, 25, 1시간 후 >> target은 남겨두고
- 강수량만 빼고
- 풍향 > 수치가 아니니까 빼고
- 운량 같은 것은 의미가 없는 것 같아서 빼도 될 것 같음

In [ ]:
# df_21, df_22에 사용할 변수들만 할당
# df_21.drop(['지역', '망', '측정소코드', '측정소명', '측정일시', 'SO2', 'O3', '주소', '지점', '지점명', '일시', '기온(°C)', ''], axis=1, inplace=True)

In [64]:
df_21 = df_21.loc[:, ['PM10', 'PM25', 'time', 'CO', 'NO2', '기온(°C)','일사(MJ/m2)', '습도(%)', '강수량(mm)', '풍속(m/s)']]
df_22 = df_22.loc[:, ['PM10', 'PM25', 'time', 'CO', 'NO2', '기온(°C)','일사(MJ/m2)', '습도(%)', '강수량(mm)', '풍속(m/s)']]

In [65]:
df_21.head(2)

,PM10,PM25,time,CO,NO2,기온(°C),일사(MJ/m2),습도(%),강수량(mm),풍속(m/s)
0,31.0,18.0,2021-10-01 00:00:00,0.6,0.039,19.2,NaN,83,NaN,1.3
1,27.0,16.0,2021-10-01 01:00:00,0.6,0.035,18.7,NaN,85,NaN,1.0

In [66]:
# time 변수를 index로 세팅
df_21_test = df_21.set_index('time')
df_22_test = df_22.set_index('time')
df_21_test.head(2)

,PM10,PM25,CO,NO2,기온(°C),일사(MJ/m2),습도(%),강수량(mm),풍속(m/s)
time,,,,,,,,,
2021-10-01 00:00:00,31.0,18.0,0.6,0.039,19.2,NaN,83,NaN,1.3
2021-10-01 01:00:00,27.0,16.0,0.6,0.035,18.7,NaN,85,NaN,1.0

---

#### **<span style="color:blue">[2-5] 변수들의 결측치 처리</span>**

In [68]:
# df_21, df_22의 결측치 확인
df_21.isna().sum()

PM10          105
PM25           97
time            0
CO             80
NO2            80
기온(°C)          0
일사(MJ/m2)    3968
습도(%)           0
강수량(mm)      7810
풍속(m/s)         2
dtype: int64

In [69]:
df_22.isna().sum()

PM10           38
PM25           25
time            0
CO             21
NO2            21
기온(°C)          0
일사(MJ/m2)    1089
습도(%)           0
강수량(mm)      2079
풍속(m/s)         0
dtype: int64

In [73]:
# df_21, df_22의 변수 중 '강수량(mm)'의 결측치를 처리
df_21_test.dropna(subset=['강수량(mm)'], axis=0, inplace=True)
df_22_test.dropna(subset=['강수량(mm)'], axis=0, inplace=True)
df_21_test.head(2)

,PM10,PM25,CO,NO2,기온(°C),일사(MJ/m2),습도(%),강수량(mm),풍속(m/s)
time,,,,,,,,,
2021-10-01 22:00:00,33.0,24.0,0.3,0.010,21.4,NaN,79,0.0,4.0
2021-10-01 23:00:00,11.0,6.0,0.3,0.015,17.2,NaN,88,12.7,3.7

In [74]:
# df_21, df_22의 남은 결측치를 처리 - 선형보간법
df_21['PM10'].interpolate(method='linear', inplace=True)
df_21['PM25'].interpolate(method='linear', inplace=True)
df_21['CO'].interpolate(method='linear', inplace=True)
df_21['NO2'].interpolate(method='linear', inplace=True)
df_21['일사(MJ/m2)'].interpolate(method='linear', inplace=True)
df_21['풍속(m/s)'].interpolate(method='linear', inplace=True)
df_22['PM10'].interpolate(method='linear', inplace=True)
df_22['PM25'].interpolate(method='linear', inplace=True)
df_22['CO'].interpolate(method='linear', inplace=True)
df_22['NO2'].interpolate(method='linear', inplace=True)
df_22['일사(MJ/m2)'].interpolate(method='linear', inplace=True)
df_22['풍속(m/s)'].interpolate(method='linear', inplace=True)

In [75]:
# df_21, df_22의 결측치 재확인
df_21.isna().sum()

PM10         0
PM25         0
time         0
CO           0
NO2          0
기온(°C)       0
일사(MJ/m2)    3
습도(%)        0
강수량(mm)      0
풍속(m/s)      0
dtype: int64

In [76]:
df_22.isna().sum()

PM10         0
PM25         0
time         0
CO           0
NO2          0
기온(°C)       0
일사(MJ/m2)    1
습도(%)        0
강수량(mm)      0
풍속(m/s)      0
dtype: int64

In [79]:
# 일사(MJ/m2) 변수 NaN 값을 바로 뒤의 값으로 채우기
df_21['일사(MJ/m2)'].fillna(method='bfill', inplace=True)
df_22['일사(MJ/m2)'].fillna(method='bfill', inplace=True)

In [80]:
df_21.isna().sum()

PM10         0
PM25         0
time         0
CO           0
NO2          0
기온(°C)       0
일사(MJ/m2)    0
습도(%)        0
강수량(mm)      0
풍속(m/s)      0
dtype: int64

---

#### **<span style="color:blue">[2-6] 전일 같은 시간 변수 추가</span>**

* 모델링에 유용한 변수로 전일 같은 시간(24시간 전) 미세먼지 농도 변수를 추가합니다. 
* 시계열 데이터 처리를 위한 shift 연산을 참고하세요.

In [ ]:
# df_21, df_22의 index(time)를 month, day, hour 로 쪼개기 (year는 필요 없음)

In [ ]:
# df_21, df_22에 전일 같은 시간 미세먼지 농도 변수(PM10_lag1) 추가
# 전일 같은 시간은 24시간 전 입니다.

---

#### **<span style="color:blue">[2-7] t+1 시점의 미세먼지 농도 데이터 생성</span>**

* t+1 시점은 1시간 후 입니다.
* t+1 시점의 미세먼지 농도 변수를 생성하세요.
* t+1 시점의 미세먼지 농도는 머신러닝 모델을 통해 예측하려는 y값(target) 입니다.

In [ ]:
# df_21, df_22에 t+1 시점 변수(PM10_1) 추가

In [ ]:
# 결측치가 있다면 처리

---

#### **<span style="color:blue">[2-8] train, test 데이터 분리</span>**

* 21년도 데이터(df_21)를 train 데이터로 저장하세요. y 값을 제외하고 train_x로 저장한 후 y 값은 train_y로 저장하세요.
* 22년도 데이터(df_22)를 test 데이터로 저장하세요. y 값을 제외하고 test_x로 저장한 후 y 값은 test_y로 저장하세요.
* 각각의 데이터프레임을 csv 파일로 저장하세요. (train_x.csv / train_y.csv / test_x.csv / test_y.csv)
* y값은 'PM10_1' 즉, t+1 시점의 미세먼지 농도입니다.

In [ ]:
# 아래에 필요한 코드를 작성하고 결과를 확인합니다.

In [ ]:
# 각각의 데이터프레임을 csv 파일로 저장 (train_x.csv / train_y.csv / test_x.csv / test_y.csv)