# 안녕하세요:)

## AIVLE 미니프로젝트 '서울시 생활정보 기반 대중교통 수요 분석 ' 과정에 오신 여러분을 환영합니다.
* 본 과정에서는 서울시 생활정보 데이터를 기반으로 데이터 분석을 시도하고 주어진 문제를 해결할 것입니다.
* 우리는 공공 데이터를 활용해 버스노선 관련 인사이트를 도출하여 유용한 정책을 세우는데 도움을 주고자 합니다

## 개인과제
* 데이터 구조, 분포 확인, 전처리 : 1.1_버스정류장데이터 / 1.2 유동인구데이터 / 1.3_주민등록데이터 / 1.4_업종등록데이터
* 데이터간 관계 가설 수립 및 검증 : 1.5_데이터 분석

## ▣ 우리가 풀어야 하는 문제는 무엇인가요?

* 제공 데이터
    - 구 별 유동인구 데이터
    - 구 별 주민 등록 데이터
    - 구 별 업종 등록 정보
    - 버스 승하차 및 운행 노선 데이터 

### 위 제공 데이터를 분석하여 버스 노선 추가 필요 대상 지역(구 단위)을 선정합니다

# 이 4개의 데이터들을 어떻게 합칠까요?

In [1]:
import pandas as pd

In [2]:
standard = pd.DataFrame({'도착 시군구 코드': [11010, 11020, 11030, 11040, 11050, 11060, 11070, 11080, 11090, 11100, 11110, 11120, 11130, 11140, 11150, 11160, 11170, 11180, 11190, 11200, 11210, 11220, 11230, 11240, 11250],
                         '자치구' :['종로구','중구','용산구','성동구','광진구','동대문구','중랑구','성북구','강북구','도봉구','노원구','은평구','서대문구','마포구','양천구','강서구','구로구','금천구','영등포구','동작구','관악구','서초구','강남구','송파구','강동구']})

In [3]:
standard

    도착 시군구 코드   자치구
0       11010   종로구
1       11020    중구
2       11030   용산구
3       11040   성동구
4       11050   광진구
5       11060  동대문구
6       11070   중랑구
7       11080   성북구
8       11090   강북구
9       11100   도봉구
10      11110   노원구
11      11120   은평구
12      11130  서대문구
13      11140   마포구
14      11150   양천구
15      11160   강서구
16      11170   구로구
17      11180   금천구
18      11190  영등포구
19      11200   동작구
20      11210   관악구
21      11220   서초구
22      11230   강남구
23      11240   송파구
24      11250   강동구

In [ ]:
# 버스 정류장 데이터 - df_seoul_bus_station
# 유동인구 데이터 - df_seoul_moving
# 구별 상권 데이터 - df_seoul_business
# 구별 등록 인구 데이터 - df_seoul_people

In [4]:
# 아래에 실습코드를 작성하고 결과를 확인합니다.
df_seoul_bus_station = pd.read_csv('df_seoul_bus_station.csv', sep=",", encoding = 'UTF-8')

In [5]:
# 아래에 실습코드를 작성하고 결과를 확인합니다.
df_seoul_bus_station.head()

   자치구  정류장수  노선수   승차총승객수   하차총승객수     승차평균승객수     하차평균승객수
0  강남구   506   91  8030483  7569213  128.767927  121.371512
1  강동구   373   21  2890053  2830506   99.161194   97.118065
2  강북구   413   67  4825181  4671783  133.020373  128.791504
3  강서구   566   49  4681083  4652828   88.119480   87.587591
4  관악구   468   86  7655819  7792476  154.753674  157.516040

In [6]:
df_seoul_business = pd.read_csv('df_seoul_business.csv', sep=",", encoding = 'UTF-8', thousands=',')

In [7]:
df_seoul_business.head()

   자치구  한식 일반 음식점업.1  커피전문점.1  기타주점업.1
0  종로구          5912     3613     1413
1   중구          6414     3542      982
2  용산구          2987     2076     1332
3  성동구          2785     1859      621
4  광진구          2861     1887     1577

In [8]:
df_seoul_people = pd.read_csv('df_seoul_people.csv', sep=",", encoding = 'UTF-8')

In [9]:
df_seoul_people.head()

   자치구      남자      여자       계
0  종로구   74018   79666  153684
1   중구   63869   67581  131450
2  용산구  114571  121947  236518
3  성동구  141662  149947  291609
4  광진구  169525  183585  353110

In [13]:
df_seoul_moving = pd.read_csv('df_seoul_moving.csv', sep=",", encoding = 'UTF-8')

In [14]:
df_seoul_moving.head()

   도착 시군구 코드  총 이동 시간      총 이동 인구  평균 이동 시간(분)    이동인구(합)
0      11010  9356120  19385709.60    21.349599  44.235978
1      11020  9306020  19715322.61    21.012462  44.516072
2      11030  8514380  14707082.87    21.364786  36.903883
3      11040  8887140  17449273.95    21.740324  42.685596
4      11050  8625540  17947278.99    22.474283  46.762548

In [10]:
df = pd.merge(standard,df_seoul_bus_station,how='inner', on='자치구')

In [15]:
df = pd.merge(df,df_seoul_moving,how='inner', on='도착 시군구 코드')

In [16]:
df = pd.merge(df,df_seoul_business,how='inner', on='자치구')

In [17]:
df = pd.merge(df,df_seoul_people,how='inner', on='자치구')

In [18]:
df.head()

,도착 시군구 코드,자치구,정류장수,노선수,승차총승객수,하차총승객수,승차평균승객수,하차평균승객수,총 이동 시간,총 이동 인구,평균 이동 시간(분),이동인구(합),한식 일반 음식점업.1,커피전문점.1,기타주점업.1,남자,여자,계
0,11010,종로구,350,106,5468935,5205394,131.889620,125.534028,9356120,19385709.60,21.349599,44.235978,5912,3613,1413,74018,79666,153684
1,11020,중구,178,103,3776675,3598932,121.020124,115.324511,9306020,19715322.61,21.012462,44.516072,6414,3542,982,63869,67581,131450
2,11030,용산구,323,67,4189977,4086474,137.891694,134.485421,8514380,14707082.87,21.364786,36.903883,2987,2076,1332,114571,121947,236518
3,11040,성동구,436,58,2807280,2746738,96.377369,94.298888,8887140,17449273.95,21.740324,42.685596,2785,1859,621,141662,149947,291609
4,11050,광진구,272,41,2749448,2753411,118.352546,118.523137,8625540,17947278.99,22.474283,46.762548,2861,1887,1577,169525,183585,353110

In [19]:
df

,도착 시군구 코드,자치구,정류장수,노선수,승차총승객수,하차총승객수,승차평균승객수,하차평균승객수,총 이동 시간,총 이동 인구,평균 이동 시간(분),이동인구(합),한식 일반 음식점업.1,커피전문점.1,기타주점업.1,남자,여자,계
0,11010,종로구,350,106,5468935,5205394,131.889620,125.534028,9356120,19385709.60,21.349599,44.235978,5912,3613,1413,74018,79666,153684
1,11020,중구,178,103,3776675,3598932,121.020124,115.324511,9306020,19715322.61,21.012462,44.516072,6414,3542,982,63869,67581,131450
2,11030,용산구,323,67,4189977,4086474,137.891694,134.485421,8514380,14707082.87,21.364786,36.903883,2987,2076,1332,114571,121947,236518
3,11040,성동구,436,58,2807280,2746738,96.377369,94.298888,8887140,17449273.95,21.740324,42.685596,2785,1859,621,141662,149947,291609
4,11050,광진구,272,41,2749448,2753411,118.352546,118.523137,8625540,17947278.99,22.474283,46.762548,2861,1887,1577,169525,183585,353110
5,11060,동대문구,306,73,5240565,5115379,131.841430,128.692017,8838130,16288077.28,21.673451,39.942708,3566,1472,1082,172318,180274,352592
6,11070,중랑구,423,48,3792541,3740923,87.403863,86.214261,7939300,13907465.59,23.412789,41.012753,2479,1037,1000,193623,199977,393600
7,11080,성북구,606,99,6236424,6231238,123.251922,123.149430,9072420,18757182.35,22.160283,45.816273,2822,1384,1030,212277,230403,442680
8,11090,강북구,413,67,4825181,4671783,133.020373,128.791504,7649610,12570412.30,23.811274,39.128470,2663,1095,1275,145934,154890,300824
9,11100,도봉구,361,46,3304305,3211421,106.859356,103.855540,6995880,10821566.75,24.489976,37.882283,2009,837,477,154440,163660,318100
10,11110,노원구,515,57,4353295,4292724,88.476211,87.245168,8975240,20611941.03,24.029515,55.184590,2650,1748,844,247417,267028,514445
11,11120,은평구,501,71,5201660,5122499,106.395173,104.776007,8077520,16495472.31,24.611578,50.260428,2585,1296,925,227172,248841,476013
12,11130,서대문구,460,107,5863499,5796960,109.914502,108.667192,8465390,16301660.39,22.026816,42.416672,2694,1323,1127,149805,167270,317075
13,11140,마포구,568,97,5088461,4957596,103.907639,101.235343,9494790,23639807.30,22.044201,54.884906,4705,4475,2559,176886,201743,378629
14,11150,양천구,323,56,4009172,3851173,97.627526,93.780086,7379950,15069643.56,22.793734,46.544142,2800,1375,851,219882,229496,449378
15,11160,강서구,566,49,4681083,4652828,88.119480,87.587591,9388010,21839762.06,25.124068,58.447282,4584,2530,1709,277797,300629,578426
16,11170,구로구,486,79,4942197,4730992,119.235615,114.140076,7946750,14463071.65,22.933748,41.739382,3215,1384,1165,208027,211957,419984
17,11180,금천구,345,58,3776658,3581930,123.098370,116.751304,6362000,8111343.74,23.998944,30.597875,2619,1215,685,123959,120942,244901
18,11190,영등포구,467,101,5739875,5783211,120.337855,121.246404,9581360,25006858.60,21.615227,56.414634,6476,3295,1489,198080,202161,400241
19,11200,동작구,442,94,5314274,5112276,124.295965,119.571419,8408680,15762459.46,21.867593,40.991815,2322,1628,955,190377,204272,394649
20,11210,관악구,468,86,7655819,7792476,154.753674,157.516040,8772170,18725641.04,23.377928,49.904036,3689,2049,1672,250450,249886,500336
21,11220,서초구,600,93,7221330,6977950,126.687777,122.418028,10291660,28911318.58,22.831643,64.138624,6712,3897,1255,197665,216012,413677
22,11230,강남구,506,91,8030483,7569213,128.767927,121.371512,11437560,44684651.43,23.094565,90.226636,11486,7273,2528,257096,280242,537338
23,11240,송파구,416,55,5641742,5603488,114.270072,113.495260,10610520,34837613.05,25.429707,83.493581,5760,3372,1469,321963,346298,668261
24,11250,강동구,373,21,2890053,2830506,99.161194,97.118065,8430800,21101460.33,25.670084,64.249687,3388,1660,1349,227891,237206,465097

In [20]:
df.corr()

,도착 시군구 코드,정류장수,노선수,승차총승객수,하차총승객수,승차평균승객수,하차평균승객수,총 이동 시간,총 이동 인구,평균 이동 시간(분),이동인구(합),한식 일반 음식점업.1,커피전문점.1,기타주점업.1,남자,여자,계
도착 시군구 코드,1.000000,0.440297,-0.069435,0.440756,0.441705,0.017980,0.029956,0.235541,0.473119,0.533514,0.610548,0.308156,0.267956,0.318339,0.697314,0.675779,0.687074
정류장수,0.440297,1.000000,0.244965,0.558126,0.570208,-0.163913,-0.126640,0.350056,0.351497,0.226804,0.371603,0.139902,0.203350,0.316528,0.555579,0.585168,0.571694
노선수,-0.069435,0.244965,1.000000,0.665488,0.652642,0.493541,0.470440,0.388332,0.226437,-0.678600,-0.003649,0.413556,0.425180,0.262016,-0.294351,-0.268906,-0.281536
승차총승객수,0.440756,0.558126,0.665488,1.000000,0.996610,0.538720,0.547384,0.581339,0.576553,-0.110113,0.474049,0.574076,0.530386,0.493852,0.359532,0.368034,0.364433
하차총승객수,0.441705,0.570208,0.652642,0.996610,1.000000,0.534826,0.555137,0.572769,0.558699,-0.097082,0.463898,0.538578,0.494266,0.485755,0.384499,0.390470,0.388119
승차평균승객수,0.017980,-0.163913,0.493541,0.538720,0.534826,1.000000,0.989288,0.140483,0.067920,-0.382202,-0.079733,0.257629,0.204745,0.220043,-0.255715,-0.282278,-0.269854
하차평균승객수,0.029956,-0.126640,0.470440,0.547384,0.555137,0.989288,1.000000,0.148381,0.062384,-0.356171,-0.072466,0.212645,0.160374,0.227213,-0.192074,-0.221558,-0.207643
총 이동 시간,0.235541,0.350056,0.388332,0.581339,0.572769,0.140483,0.148381,1.000000,0.923298,-0.141914,0.808313,0.816341,0.835772,0.655550,0.350985,0.393565,0.373570
총 이동 인구,0.473119,0.351497,0.226437,0.576553,0.558699,0.067920,0.062384,0.923298,1.000000,0.095727,0.951399,0.872074,0.873656,0.678119,0.509632,0.544162,0.528251
평균 이동 시간(분),0.533514,0.226804,-0.678600,-0.110113,-0.097082,-0.382202,-0.356171,-0.141914,0.095727,1.000000,0.373091,-0.128780,-0.181316,-0.034993,0.644669,0.631852,0.638885
이동인구(합),0.610548,0.371603,-0.003649,0.474049,0.463898,-0.079733,-0.072466,0.808313,0.951399,0.373091,1.000000,0.745931,0.736411,0.615303,0.681313,0.708455,0.696328
한식 일반 음식점업.1,0.308156,0.139902,0.413556,0.574076,0.538578,0.257629,0.212645,0.816341,0.872074,-0.128780,0.745931,1.000000,0.948958,0.651094,0.153125,0.174030,0.164188
커피전문점.1,0.267956,0.203350,0.425180,0.530386,0.494266,0.204745,0.160374,0.835772,0.873656,-0.181316,0.736411,0.948958,1.000000,0.760153,0.130900,0.168571,0.150638
기타주점업.1,0.318339,0.316528,0.262016,0.493852,0.485755,0.220043,0.227213,0.655550,0.678119,-0.034993,0.615303,0.651094,0.760153,1.000000,0.298162,0.328284,0.314207
남자,0.697314,0.555579,-0.294351,0.359532,0.384499,-0.255715,-0.192074,0.350985,0.509632,0.644669,0.681313,0.153125,0.130900,0.298162,1.000000,0.994596,0.998546
여자,0.675779,0.585168,-0.268906,0.368034,0.390470,-0.282278,-0.221558,0.393565,0.544162,0.631852,0.708455,0.174030,0.168571,0.328284,0.994596,1.000000,0.998747
계,0.687074,0.571694,-0.281536,0.364433,0.388119,-0.269854,-0.207643,0.373570,0.528251,0.638885,0.696328,0.164188,0.150638,0.314207,0.998546,0.998747,1.000000

---

## 1.가설 수립 
+ 어떤 데이터를 label 데이터로 하실 건가요?

? 정해진게 없나요? - 네 라벨을 개인및 조별로 고민하셔서 라벨데이터를 설정하시면 되겠습니다
? 가설마다 라벨데이터가 달라도 상관없나요? 네 그렇습니다
? 가설은 3개만 해야하나요? 그 이상 하셔도 무방합니다

### 가설을 설정해 봅시다 (인당 최소 3개) - 미니프로젝트 진행의 편의상 가설은 이변량 분석을 염두에 두고 설정해 주세요

* 가설 1 정류장 수와 승차 총 승객수

    H0 : 정류장 수와 승차 총 승객수는 연관이 없다

    
    H1 : 정류장 수와 승차 총 승객수는 연관이 있다

* 가설 2 노선 수와 총 이동시간

    H0 : 노선 수와 총 이동시간은 연관이 없다

    
    H1 : 노선 수와 총 이동시간은 연관이 있다

* 가설 3 정류장 수와 이동인구(합)

* 가설 4 노선 수와 평균 이동 시간

* 가설 5 노선 수와 커피전문점 이용자수

## 2.단변량 분석

+ 변수의 비즈니스 의미  

+ 숫자? 범주?  

+ 전처리 사항
   - NaN 존재 여부 및 조치 방안  
   - 가변수화 대상여부  
   
+ 기초통계량

+ 분포  

+ 위 정보로부터 파악한 내용(비즈니스!) 정리  

+ 추가 분석해볼 사항 도출

In [22]:
# 시각화 한글폰트 설정
import seaborn as sns
import matplotlib.pyplot as plt

plt.rc('font', family='nanum')
sns.set(font="NanumGothicCoding",#"NanumGothicCoding", 
        rc={"axes.unicode_minus":False}, # 마이너스 부호 깨짐 현상 해결
        style='darkgrid')

### 1)

### 2)

### 3)

## 3.이변량 분석

* 자료의 종류에 맞게 X --> Y 에 대해서 그래프(시각화)와 가설검정(수치화)를 수행하고 결과를 평가합니다.

* 가설검정시 다음의 항목을 참조하여 수행합니다.
    * 유의수준 : 5%
    * 숫자 --> 숫자 : 상관분석
    * 범주 --> 범주 : 카이제곱검정
    * 범주 --> 숫자 : t검정, 분산분석
    * 숫자 --> 범주 : 로지스틱 회귀모형을 통해, 회귀계수의 P.value로 검정을 수행합니다.

In [23]:

import scipy.stats as spst

result = spst.pearsonr(df['정류장수'],df['승차총승객수'])
print(f'상관계수 : {result[0]}, p-value : {result[1]}')

# 강한 양의 상관관계 
# 귀무가설 기각 
# 정류장수와 승차 총승객수는 상관관계가 있다

상관계수 : 0.5581258847587782, p-value : 0.0037400415544016244

In [ ]:
target =

### 1)

상관계수 (우리가 배운 기준)
- 0.5 ~ 1 : 강한
- 0.2 ~ 0.5 : 중간
- 0.1 ~ 0.2 : 약간
- 0 ~ 0.1 : 없음

- 음수 똑같음 




p-value 기준을 0.05로 가져갔죠 5% (1%, 0.1%)



p-value가 0.05보다 크다 == 귀무가설을 기각 하지 못한다 == 대립가설이 틀렸다(우리가 원하는 바는 대립가설)



- 귀무가설을 기각하려면 우리가 싫어하는 귀무가설을 입증할 증거가 나올 확률이 5% 이하여야 하는데 p-value가 그 귀무가설을 입증할 증거가 나올 확률을 의미함

### 2)

In [24]:
spst.pearsonr(df['노선수'],df['총 이동 시간'])
# p-value가 0.05보다 크다 == 귀무가설을 기각하지 못한다 == 대립가설이 틀렸다

PearsonRResult(statistic=0.38833248798056735, pvalue=0.05507091940045923)

In [25]:
spst.pearsonr(df['노선수'],df['커피전문점.1'])
# p-value가 0.05보다 작다 == 귀무가설을 기각한다 == 대립가설이 채택 == 대립가설이 맞았다

PearsonRResult(statistic=0.42518048108643286, pvalue=0.03410811239601253)

### 3)

In [26]:
df['비율1'] = df['정류장수'] / df['승차총승객수'] * 10000
df.sort_values(by=['비율1']).head()

,도착 시군구 코드,자치구,정류장수,노선수,승차총승객수,하차총승객수,승차평균승객수,하차평균승객수,총 이동 시간,총 이동 인구,평균 이동 시간(분),이동인구(합),한식 일반 음식점업.1,커피전문점.1,기타주점업.1,남자,여자,계,비율1
1,11020,중구,178,103,3776675,3598932,121.020124,115.324511,9306020,19715322.61,21.012462,44.516072,6414,3542,982,63869,67581,131450,0.471314
5,11060,동대문구,306,73,5240565,5115379,131.841430,128.692017,8838130,16288077.28,21.673451,39.942708,3566,1472,1082,172318,180274,352592,0.583907
20,11210,관악구,468,86,7655819,7792476,154.753674,157.516040,8772170,18725641.04,23.377928,49.904036,3689,2049,1672,250450,249886,500336,0.611300
22,11230,강남구,506,91,8030483,7569213,128.767927,121.371512,11437560,44684651.43,23.094565,90.226636,11486,7273,2528,257096,280242,537338,0.630099
0,11010,종로구,350,106,5468935,5205394,131.889620,125.534028,9356120,19385709.60,21.349599,44.235978,5912,3613,1413,74018,79666,153684,0.639978

In [27]:
df['비율1'] = df['정류장수'] / df['승차총승객수'] * 10000
df.sort_values(by=['비율1']).head()

,도착 시군구 코드,자치구,정류장수,노선수,승차총승객수,하차총승객수,승차평균승객수,하차평균승객수,총 이동 시간,총 이동 인구,평균 이동 시간(분),이동인구(합),한식 일반 음식점업.1,커피전문점.1,기타주점업.1,남자,여자,계,비율1
1,11020,중구,178,103,3776675,3598932,121.020124,115.324511,9306020,19715322.61,21.012462,44.516072,6414,3542,982,63869,67581,131450,0.471314
5,11060,동대문구,306,73,5240565,5115379,131.841430,128.692017,8838130,16288077.28,21.673451,39.942708,3566,1472,1082,172318,180274,352592,0.583907
20,11210,관악구,468,86,7655819,7792476,154.753674,157.516040,8772170,18725641.04,23.377928,49.904036,3689,2049,1672,250450,249886,500336,0.611300
22,11230,강남구,506,91,8030483,7569213,128.767927,121.371512,11437560,44684651.43,23.094565,90.226636,11486,7273,2528,257096,280242,537338,0.630099
0,11010,종로구,350,106,5468935,5205394,131.889620,125.534028,9356120,19385709.60,21.349599,44.235978,5912,3613,1413,74018,79666,153684,0.639978

In [28]:
df['비율1'] = df['정류장수'] / df['승차총승객수'] * 10000
df.sort_values(by=['비율1']).head()

,도착 시군구 코드,자치구,정류장수,노선수,승차총승객수,하차총승객수,승차평균승객수,하차평균승객수,총 이동 시간,총 이동 인구,평균 이동 시간(분),이동인구(합),한식 일반 음식점업.1,커피전문점.1,기타주점업.1,남자,여자,계,비율1
1,11020,중구,178,103,3776675,3598932,121.020124,115.324511,9306020,19715322.61,21.012462,44.516072,6414,3542,982,63869,67581,131450,0.471314
5,11060,동대문구,306,73,5240565,5115379,131.841430,128.692017,8838130,16288077.28,21.673451,39.942708,3566,1472,1082,172318,180274,352592,0.583907
20,11210,관악구,468,86,7655819,7792476,154.753674,157.516040,8772170,18725641.04,23.377928,49.904036,3689,2049,1672,250450,249886,500336,0.611300
22,11230,강남구,506,91,8030483,7569213,128.767927,121.371512,11437560,44684651.43,23.094565,90.226636,11486,7273,2528,257096,280242,537338,0.630099
0,11010,종로구,350,106,5468935,5205394,131.889620,125.534028,9356120,19385709.60,21.349599,44.235978,5912,3613,1413,74018,79666,153684,0.639978

### 상관계수를 구하고 HeatMap으로 시각화 후 나름의 분석을 해보세요.

In [ ]:
# 아래에 실습코드를 작성하고 상관계수를 확인 및 시각화 합니다.
import scipy.stats as spst

spst.pearsonr(X,Y)

In [ ]:
# 아래에 실습코드를 작성하고 상관계수를 확인 및 시각화 합니다.

sns.heatmap(seoul_bus_station.corr(), annot = True)
plt.show()

In [ ]:
# 위 차트를 통해 알게된 사실을 정리해봅시다.
# 1. 
# 2.
# 3.

## 4.관계 정리

### 1) 강한 관계의 변수

정류장 - 승차 총 승객수

### 2) 약한 관계의 변수

노선수 - 커피전문점.1(종사자수)

## 5.솔루션 도출

### 어느 구에 버스 노선 또는 정류장이 제일 필요한가요? 그 이유는?

강남구 - 중구 - 동대문구 - 관악구에 필요합니다