- summary 
- web : server-client : url 
- requests : 동적페이지 : URL 변화 없이 페이지의 데이터 수정 : json(str) > response.json() > DataFrame 
- requests : 정적페이지 : URL 변화 있이 페이지의 데이터 수정 : html(str) > BeautifulSoup > css-selector > DataFrame 
- selenium : 웹브라우져를 python 코드로 컨트롤해서 데이터 수집 
- requests(동적페이지,API) > requests(정적페이지) > selenium 
- 웹크롤링 절차 
- 1. 웹서비스분석(개발자도구), API문서 : URL 
- 2. request(URL) > response(data) : data(json(str), html(str)) 
- 3. data(json(str), html(str)) > response.json(), BeautifulSoup(css-selector) > DataFrame 
- request 할때 401,403,500 등등의 에러가 발생하는 경우 > headers 수정해서 데이터 요청(user-agent, refere) 
- API 이용 : request token 수집후 크롤링

### Zigbang 원룸 매물 데이터 수집

##### 동 이름 입력하면 > 해당 동의 매물 데이터가 나오겠금

In [61]:
import pandas as pd
import requests

#### Process
    - 동이름으로 위도 경도 구하기(직빵엔 매물 데이터가 없음...)
    - 위도 경도로 geohash 알아내기
    - geohash로 매물 아이디 가져오기
    - 매물 아이디로 매물 정보 가져오기

#### 1. 동이름으로 위도 경도 구하기

- address url은 https://meyerweb.com/eric/tools/dencoder/ 에서 decode 해가지고 가져왔음

In [62]:
# 1. URL
address = '망원동'
url = f'https://apis.zigbang.com/v2/search?leaseYn=N&q={address}&serviceType=원룸'
# 2. request > response : json(str)
response = requests.get(url)
# 3. json(str) > lat, lng(위도값, 경도값)

In [63]:
response.text[:500]

'{"success":true,"code":"200","items":[{"id":4002,"type":"address","name":"망원동","hint":"","description":"서울시 마포구 망원동","lat":37.556785583496094,"lng":126.9013442993164,"zoom":5,"polygon":[],"_score":null,"_source":{"name_length":3,"local1":"서울시","local2":"마포구","local3":"망원동","web_level":15,"web_lat":37.556785583496094,"web_lng":126.9013442993164,"app_level":15,"app_lat":37.556785583496094,"app_lng":126.9013442993164,"법정동코드":"1144012300"},"zoom_level":{"google":15,"daum":4},"zoom_level_v2":{"app":5'

In [64]:
# list > dict > items만 가져오기
data = response.json()['items'][0]
lat, lng = data['lat'], data['lng']
lat, lng

(37.556785583496094, 126.9013442993164)

#### 2. 위도 경도로 geohash 알아내기
- geohash2 설치해야 함 
- 설치 방법 : pip install geohash2 (terminal > cli 환경에서 실행 comand line interface) 걍 터미널 켜서 하셈
- 그 후 임포트

In [65]:
import geohash2

In [66]:
# 작은 문자열로 나누면 더 많은 코드값, 문자열이 필요함
# precision : 클수록 영역이 작아짐 
geohash = geohash2.encode(lat, lng, precision=5) 
geohash

'wydjx'

#### 3. geohash로 매물 아이디 가져오기

In [67]:
url = f'https://apis.zigbang.com/v2/items?deposit_gteq=0&domain=zigbang&geohash={geohash}&needHasNoFiltered=true&rent_gteq=0&sales_type_in=전세|월세&service_type_eq=원룸'
response = requests.get(url)
response

In [48]:
# data = response.json()['items']
# data

[{'lat': 35.810173336459904, 'lng': 128.54918001281942, 'item_id': 35237240}]

In [68]:
data = response.json()['items']
ids = [item['item_id'] for item in data] # 아이템 아이디만 가져오기
len(ids), ids[:5]

(675, [35471881, 35346672, 35365643, 35070248, 35265682])

#### 4. 매물 아이디로 매물 정보 가져오기

In [69]:
ids

[35471881,
 35346672,
 35365643,
 35070248,
 35265682,
 35411116,
 35403433,
 35472522,
 35059106,
 35269309,
 35420328,
 35441970,
 35419933,
 35420661,
 35455652,
 35363643,
 35357900,
 35431532,
 35448617,
 35454937,
 35464605,
 35471885,
 35035055,
 35377237,
 35433115,
 35247257,
 35420705,
 35440070,
 35445413,
 35454950,
 35456089,
 35471927,
 35231837,
 35371199,
 35228887,
 35308996,
 35201972,
 35277659,
 35434908,
 35454005,
 35460297,
 35469009,
 35091891,
 35175569,
 35424938,
 35454146,
 35385157,
 35136006,
 35402634,
 35421103,
 35337288,
 35195337,
 35241262,
 35310213,
 35347421,
 35362340,
 34943073,
 35424163,
 35094756,
 35310153,
 35464253,
 34942970,
 35121907,
 34564597,
 34781572,
 34969984,
 35048671,
 35079128,
 35344276,
 35405058,
 35440554,
 35018418,
 35330199,
 35340579,
 35439142,
 35435610,
 35445702,
 35145746,
 35353300,
 35210886,
 35278630,
 35351667,
 35345163,
 35400024,
 35447414,
 35048409,
 35261453,
 35421060,
 34982242,
 35149612,
 35297881,
 35331133,
 35356260,
 35422190,
 35422473,
 35427943,
 35430922,
 35436315,
 35439065,
 35462394,
 35462445,
 35464832,
 35464858,
 35464866,
 35471956,
 35413428,
 35311874,
 35363775,
 35162684,
 34829775,
 35300624,
 35456438,
 35447510,
 35180629,
 35364602,
 35364745,
 35401605,
 35064664,
 35392930,
 35349959,
 35413901,
 35279861,
 35285974,
 35325320,
 35472848,
 35428110,
 35157724,
 35243551,
 35456198,
 34881708,
 35427744,
 35456275,
 35472355,
 35453692,
 35317785,
 35381519,
 35237908,
 35240329,
 35240338,
 35290818,
 35386849,
 35399854,
 35427827,
 35431250,
 35439098,
 35453884,
 35456173,
 35459410,
 35459450,
 35459608,
 35459941,
 35471912,
 35047943,
 35393555,
 34617585,
 35463643,
 35431359,
 35399928,
 35449080,
 35454062,
 35455486,
 35455560,
 35343149,
 35382557,
 35403315,
 35425545,
 35430574,
 35454750,
 35454766,
 35386354,
 35386938,
 35387019,
 35398592,
 35419115,
 35426720,
 35280979,
 35446732,
 35446887,
 35471271,
 35369568,
 35459413,
 35471893,
 35455678,
 35386558,
 35392582,
 35311900,
 35386509,
 35435968,
 35453773,
 35385289,
 35236196,
 35347946,
 35396712,
 35471793,
 35420133,
 35454519,
 35170575,
 35409252,
 35447842,
 35222339,
 35293645,
 35428841,
 35438173,
 35358661,
 35122044,
 35238298,
 35271277,
 35334227,
 35368352,
 35418369,
 35439688,
 35451814,
 35471977,
 35409206,
 35238833,
 35421602,
 34915666,
 35345521,
 35224139,
 35428399,
 35315461,
 35364118,
 35372820,
 35372805,
 35428668,
 35230677,
 35374525,
 35379054,
 35403107,
 35467632,
 35287960,
 35393255,
 35471940,
 35471949,
 35337712,
 35396678,
 35435903,
 35471518,
 35474530,
 35312450,
 35247494,
 35339766,
 35370499,
 35215802,
 35030936,
 35456966,
 35465562,
 35465744,
 35465890,
 35465055,
 35465219,
 35465434,
 35465661,
 35022502,
 35324369,
 34794398,
 35048466,
 35071680,
 35429004,
 35327596,
 35315421,
 35237670,
 35372797,
 35442525,
 35443278,
 35207271,
 35076981,
 35313181,
 35309501,
 35334290,
 35272543,
 35460002,
 35465489,
 35217707,
 35418368,
 35444656,
 35142621,
 35395339,
 35396541,
 35396612,
 35397377,
 35321641,
 35356227,
 35403067,
 35325398,
 35355268,
 35426276,
 35471970,
 35449869,
 35217657,
 35464932,
 35017032,
 35422919,
 35334497,
 35473822,
 35473863,
 35204278,
 35442214,
 35440635,
 35445458,
 35435607,
 35438588,
 35451074,
 35418533,
 35422522,
 35430009,
 35401779,
 35418490,
 35339119,
 35343459,
 35464119,
 35248725,
 35401748,
 35444084,
 35446489,
 35447088,
 35196980,
 35208080,
 35335390,
 35377598,
 35416508,
 35421316,
 35440156,
 35470989,
 34630448,
 35105113,
 35131409,
 35198297,
 35215851,
 35304264,
 35426111,
 35377553,
 34640387,
 35300552,
 35307886,
 35351421,
 35367402,
 35388798,
 35404289,
 35418220,
 35442815,
 35455349,
 35460047,
 35460259,
 35460610,
 35462633,
 35471144,
 35471868,
 35471887,
 35472512,
 35472565,
 35472646,
 35474648,
 35464006,
 35376818,
 35101315,
 35426335,
 35472514,
 35404998,
 35448638,
 35368291,
 35368447,
 35453960,
 35454959,
 35464609,
 35222353,
 35348129,
 35409098,
 35228662,
 35259047,
 35347125,
 35413611,
 35434672,
 34949745,
 35075331,
 35153609,
 35398352,
 34938533,
 35474892,
 35379105,
 35216863,
 35470310,
 35465941,
 35462266,
 35142345,
 35241452,
 35308121,
 35321969,
 35452173,
 35161571,
 35354028,
 35376450,
 35271434,
 35370900,
 35336711,
 35360342,
 35376093,
 35469792,
 35429720,
 35370343,
 35357473,
 35459909,
 35256840,
 35434432,
 35360514,
 35458151,
 35466218,
 35402884,
 35448165,
 35453969,
 35459312,
 35465226,
 34989700,
 35085039,
 35349657,
 35359309,
 35381214,
 35432757,
 35440185,
 35472260,
 35288021,
 35441958,
 35446521,
 35455661,
 35351488,
 35368763,
 35397574,
 35397596,
 35429080,
 35424531,
 35135198,
 35409966,
 35410052,
 35460012,
 35460035,
 35123516,
 35435885,
 35354052,
 35418348,
 35363722,
 35365038,
 35465936,
 35030351,
 35038745,
 35228510,
 35271275,
 35465871,
 35465946,
 35404666,
 35350403,
 35474563,
 35474041,
 35465955,
 35273852,
 35394010,
 35434427,
 35464570,
 35393533,
 35393540,
 35393543,
 35393973,
 35393983,
 35421691,
 35078715,
 35447778,
 35262165,
 35434429,
 35297198,
 35144696,
 35392322,
 35462883,
 35296972,
 35444882,
 35469936,
 35092079,
 35251523,
 35378855,
 35449984,
 35093589,
 35418250,
 35347177,
 35205515,
 35036583,
 35459634,
 35469004,
 35474745,
 35447819,
 35192626,
 35364210,
 35439370,
 35440671,
 35450255,
 35379736,
 35112884,
 34794971,
 35326178,
 35369070,
 35442034,
 35413486,
 35444845,
 35438125,
 35444821,
 35448133,
 35431944,
 35437966,
 35320952,
 35310139,
 35445908,
 35168815,
 35092534,
 35409653,
 35446697,
 35366741,
 35432774,
 35448219,
 35438785,
 35368349,
 35374521,
 35430031,
 35236465,
 35461859,
 35429963,
 35353678,
 35235676,
 35297403,
 35450048,
 35464000,
 35383533,
 35396997,
 35447841,
 35463837,
 35066414,
 35330129,
 35444891,
 35236822,
 35166648,
 35406438,
 35473065,
 35146732,
 35459639,
 35435570,
 35419196,
 35456218,
 35459379,
 35430432,
 35463259,
 34873308,
 35440931,
 35443048,
 35466723,
 35376122,
 35409368,
 35466811,
 35422922,
 35427473,
 35450088,
 35465383,
 35471864,
 35245884,
 35135031,
 35358278,
 35260076,
 35281657,
 35144677,
 35245318,
 35426133,
 35250518,
 35420896,
 35448421,
 35330376,
 35468583,
 35459601,
 35448971,
 35284063,
 35388151,
 35239048,
 35474567,
 35440923,
 35388794,
 35197059,
 35166940,
 35402955,
 35414614,
 35427103,
 35363189,
 35440069,
 35456141,
 35162728,
 35127705,
 35461022,
 35473546,
 35301962,
 35417531,
 35383079,
 35466584,
 35329221,
 35197484,
 35474326,
 35448442,
 35434806,
 35419246,
 35433254,
 35182665,
 35223513,
 35392851,
 35392965,
 35403459,
 35410480,
 35455993,
 35218547,
 35407138,
 35409922,
 35314154,
 35131030,
 35283703,
 35309283,
 35374716,
 35379415,
 35407936,
 35465078,
 35259109,
 35346896,
 35461049,
 35318474,
 35361947,
 35366015,
 35381092,
 35418546,
 35421716,
 35446308,
 35318440,
 35349643,
 35352266,
 35366033,
 35444320,
 35072892,
 35216950,
 35267744,
 35267759,
 35364475,
 35376143,
 35378642,
 35437359,
 35472718,
 35411696,
 35474943,
 35337437,
 35381388,
 35466002,
 35468983,
 35219277,
 35383130,
 35471607,
 35229214,
 35101483,
 35458234,
 35176057,
 35472808,
 35441756,
 35274284,
 35205641,
 35217018,
 35380902,
 35450344,
 35424767,
 35215120,
 35401768,
 35405871,
 35291925,
 35406922,
 35367610,
 35466913,
 35247714,
 35469483,
 35442758]

In [70]:
url = 'https://apis.zigbang.com/v2/items/list'
params = {
  'domain': 'zigbang',
  'withCoalition': 'true',
  'item_ids': ids[:900], # 아이템 데이터의 갯수를 999개까지 사용 가능
}
response = requests.post(url, params)
response

In [71]:
pd.options.display.max_columns = 50 # ... 없애서 전부 보기

In [72]:
# json을 list > dict로 바꿔주고 df로
data = response.json()['items']
df = pd.DataFrame(data)
df.tail(2) # tail은 index값과 전체 데이터 갯수를 알 수 있기 때문에 많이 보심
# 여기까지가 크롤링은 끝난 걷네
# 필요한 데이터 필터링이 필요함

,section_type,item_id,images_thumbnail,sales_type,sales_title,deposit,rent,size_m2,공급면적,전용면적,계약면적,room_type_title,floor,floor_string,building_floor,title,is_first_movein,room_type,address,random_location,is_zzim,status,service_type,tags,address1,address2,address3,manage_cost,reg_date,is_new,contract
673,None,35469483,https://ic.zigbang.com/ic/items/35469483/1.jpg,월세,월세,500,45,19.83,"{'m2': 19.83, 'p': '6'}","{'m2': 19.83, 'p': '6'}",None,None,1,1,4,♥저렴한 풀옵션 원룸♥전용넓어요!♥주차가능♥오늘 나온 매물,None,01,마포구 중동,"{'lat': 37.57037771910298, 'lng': 126.90410117...",False,True,원룸,[],서울시 마포구 중동,None,None,5,2023-02-17T10:29:03+09:00,True,
674,None,35442758,https://ic.zigbang.com/ic/items/35442758/1.jpg,전세,전세,21000,0,59.93,"{'m2': 59.93, 'p': '18.1'}","{'m2': 51.29, 'p': '15.5'}",None,None,2,2,2,"⭐대출,보증보험OK⭐올리모델링⭐역세권⭐투룸⭐",None,04,마포구 중동,"{'lat': 37.57071480001094, 'lng': 126.90475250...",False,True,빌라,[],서울시 마포구 중동,None,None,1,2023-02-16T11:23:15+09:00,True,

In [73]:
# 필요한 데이터 뽑기 전 일일히 복붙 귀찮으니까 이거 쳐서 나온값 복붙해서 하나씩 지워나가자
df.columns

Index(['section_type', 'item_id', 'images_thumbnail', 'sales_type',
       'sales_title', 'deposit', 'rent', 'size_m2', '공급면적', '전용면적', '계약면적',
       'room_type_title', 'floor', 'floor_string', 'building_floor', 'title',
       'is_first_movein', 'room_type', 'address', 'random_location', 'is_zzim',
       'status', 'service_type', 'tags', 'address1', 'address2', 'address3',
       'manage_cost', 'reg_date', 'is_new', 'contract'],
      dtype='object')

In [74]:
colums = ['item_id', 'sales_type', 'deposit', 'rent', 'size_m2', 'floor', 'building_floor', 'title', 'address', 'status', 'service_type', 'tags', 'address1', 'manage_cost']
df = df[colums] 
df.tail(2)

,item_id,sales_type,deposit,rent,size_m2,floor,building_floor,title,address,status,service_type,tags,address1,manage_cost
673,35469483,월세,500,45,19.83,1,4,♥저렴한 풀옵션 원룸♥전용넓어요!♥주차가능♥오늘 나온 매물,마포구 중동,True,원룸,[],서울시 마포구 중동,5
674,35442758,전세,21000,0,59.93,2,2,"⭐대출,보증보험OK⭐올리모델링⭐역세권⭐투룸⭐",마포구 중동,True,빌라,[],서울시 마포구 중동,1

# 데이터 전처리)

In [75]:
address

'망원동'

In [76]:
# 리셋인덱스 드롭 트루는 정렬되는 것 
colums = ['item_id', 'sales_type', 'deposit', 'rent', 'size_m2', 'floor', 'building_floor', 'title', 'address', 'status', 'service_type', 'tags', 'address1', 'manage_cost'] 
df = df[colums] 
df = df[df['address'].str.contains(address)].reset_index(drop=True) 
df.tail(2)

,item_id,sales_type,deposit,rent,size_m2,floor,building_floor,title,address,status,service_type,tags,address1,manage_cost
87,35197484,월세,200,60,16.53,3,3,💖즉시입주💖나오면바로계약💖실매물💖선착순매물💖,마포구 망원동,True,원룸,[],서울시 마포구 망원동,6
88,35474326,월세,1000,80,46.28,2,3,🔮마포구청역30초🧧,마포구 망원동,True,빌라,[추천],서울시 마포구 망원동,2

## 꿀팁)

- 서점에 나와 있는 책들은 99% 인문책이다.
- 그 책을 개념을 배우긴 쉽지만, 현업을 하긴 힘들다. 
- 최신 서적을 봐야 함. 1년만 지나도 코드 작성한 게 진행 안 될 수도 있어서.
- 한 달 안에 본다.
- pandas의 공식 사이트를 본다. 책에 없는 내용들이 있는데 양이 엄청 방대하다
- 다 해볼 필요 없이 아 이런 거 있구나~ 하니까 한번 쭈욱 읽어봄
- 10 minutes to pandas 읽어보고 실습해보기 
https://pandas.pydata.org/docs/user_guide/10min.html

### 파이썬에서?
- pep documents >> 100개가 넘음. python을 잘 사용하게 해주는 문서
- pep20, pep8 > 파이썬의 철학, 파이썬 코딩 스타일 가이드
- 회사 가면 pep8에 어긋났을 때 githup, gitlab에 업로드 x
- vscode나 뭐 등등에 pep8 교정해주는 기능도 있음4
- pep8 : 문법, 컨벤션(코드 가독성 및 허용 범위..?) 체크
- flake8 : 코드효율성 체크 (if, for문 남발하면 업로드 x)

In [77]:
# 파이썬의 철학 >> 파이썬스러운 코드
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

- 코드를 작성할 땐 문법(에러발생 o, 코드실행 x), 컨벤션(에러발생 x, 코드실행 o)
  - 1data = 1 >> 식별자 앞에서는 숫자를 쓸 수 없다. 문법이 틀린 것
  - data=1 >> 컨벤션에는 어긋남. 하지만 실행은 됨 >>> 연산자 앞 뒤로 공백을 한칸씩 띄우라고 파이썬 철학에 의거해서 만들어진 거임

# 스페셜 커맨드(매직커멘드) : %, %% : ipython에서 제공하는 커멘드
- %ls 현재 디렉토리 안에 있는 파일
- %pwd 현재 작성하고 있는 파일 경로
- %%time 셀이 수행되는 시간

# 쉘 커멘드 : ! : os system에서 제공하는 커멘드
- !pip install geohash2 해도 cli환경에서 입력한 것처럼 할 수 있음