In [1]:
!pip install pymongo

Collecting pymongo
  Downloading pymongo-4.3.3-cp310-cp310-win_amd64.whl (382 kB)
     -------------------------------------- 382.5/382.5 kB 5.9 MB/s eta 0:00:00
Collecting dnspython<3.0.0,>=1.16.0
  Downloading dnspython-2.3.0-py3-none-any.whl (283 kB)
     -------------------------------------- 283.7/283.7 kB 4.3 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.3.0 pymongo-4.3.3

WARNING: Ignoring invalid distribution -cipy (c:\programdata\anaconda3\envs\tf\lib\site-packages)
WARNING: Ignoring invalid distribution -cipy (c:\programdata\anaconda3\envs\tf\lib\site-packages)
WARNING: Ignoring invalid distribution -cipy (c:\programdata\anaconda3\envs\tf\lib\site-packages)
WARNING: Ignoring invalid distribution -cipy (c:\programdata\anaconda3\envs\tf\lib\site-packages)
WARNING: Ignoring invalid distribution -cipy (c:\programdata\anaconda3\envs\tf\lib\site-packages)
WARNING: Ignoring invalid distribution -cipy (c:\programdata\anaconda3\envs\tf\lib\site-packages)
WARNING: Ignoring invalid distribution -cipy (c:\programdata\anaconda3\envs\tf\lib\site-packages)
WARNING: Ignoring invalid distribution -cipy (c:\programdata\anaconda3\envs\tf\lib\site-packages)

### Pymongo
- mongodbë¥¼ pythonì—ì„œ ì‚¬ìš©í•  ìˆ˜ ìˆë„ë¡ ë„ì™€ì£¼ëŠ” íŒ¨í‚¤ì§€
- connect server > database > collection
- documents: CRUD ë‹¤ë¤„ë³´ê¸°

In [2]:
import pymongo
import pandas as pd

### 1. connect server(client) í´ë¼ì´ì–¸íŠ¸ì— ì—°ê²°í•˜ê¸°

In [3]:
client = pymongo.MongoClient('mongodb://kt:ktpw@13.124.109.75:27017')
client

MongoClient(host=['13.124.109.75:27017'], document_class=dict, tz_aware=False, connect=True)

In [4]:
list(client.list_databases())

[{'name': 'admin', 'sizeOnDisk': 114688.0, 'empty': False},
 {'name': 'config', 'sizeOnDisk': 73728.0, 'empty': False},
 {'name': 'local', 'sizeOnDisk': 73728.0, 'empty': False},
 {'name': 'mongo', 'sizeOnDisk': 204800.0, 'empty': False}]

2. connect database(mongo)

In [5]:
db = client.mongo
db

Database(MongoClient(host=['13.124.109.75:27017'], document_class=dict, tz_aware=False, connect=True), 'mongo')

## Collection CRUD

### READ collection

In [6]:
list(db.list_collection_names())

['info1', 'info', 'user']

### CREATE collection

In [7]:
collection = db.info2
collection

Collection(Database(MongoClient(host=['13.124.109.75:27017'], document_class=dict, tz_aware=False, connect=True), 'mongo'), 'info2')

### UPDATE collection

In [8]:
db.user.rename('users')

{'ok': 1.0}

In [10]:
list(db.list_collection_names())
# userê°€ usersë¡œ ë°”ë€œ...

['info1', 'info', 'users']

### DELETE collection

In [11]:
db.info1.drop()

In [12]:
list(db.list_collection_names())

['info', 'users']

## Document CRUD

### READ documents

In [13]:
# select collection
collection = db.info # info ì»¬ë ‰ì…˜ì„ ì„ íƒ
# select one document 
document = collection.find_one({'subject': 'python'}) # find ë§ê³  find_oneì„ ì¨ì•¼ í•˜ë‚˜ë§Œ ì¶œë ¥ë¨...
document

{'_id': ObjectId('644b20422fc32f62f2821e88'), 'subject': 'python', 'level': 4}

In [14]:
# select many documents
documents = collection.find({'subject': 'python'}) # ê²°ê³¼ê°€ ê°ì²´ í˜•íƒœë¡œ ë‚˜ì˜¤ëŠ”ë°
data = list(documents) # ë¦¬ìŠ¤íŠ¸ë¡œ í˜•ë³€í™˜í•´ì„œ
data # ì¶œë ¥

[{'_id': ObjectId('644b20422fc32f62f2821e88'),
  'subject': 'python',
  'level': 4},
 {'_id': ObjectId('644b284b2fc32f62f2821e98'),
  'subject': 'python',
  'level': 4}]

In [15]:
# make datafram object
pd.DataFrame(data)

                        _id subject  level
0  644b20422fc32f62f2821e88  python      4
1  644b284b2fc32f62f2821e98  python      4

In [16]:
# disappear documents : ë„íë¨¼íŠ¸ê°€ ìˆë‹¤ê³  í•´ì„œ ë˜ ì“°ë ¤ê³  í•˜ë©´ ì—†ì–´ì§€ê¸° ë•Œë¬¸ì— ë°˜ë“œì‹œ ë³€ìˆ˜ì— ì €ì¥í•´ ë†“ì„ ê²ƒ. ê·¸ëŸ¼ ë‚¨ì•„ ìˆë‹¤
list(documents)

[]

### READ document : query

In [18]:
collection = db.info
documents = collection.find({'level': {'$gte': 5}}).sort('level', pymongo.DESCENDING) # levelì´ 5 ì´ìƒì¸ ê²ƒë§Œ ì •ë ¬í•´ì„œ 
pd.DataFrame(list(documents))

                        _id subject  level
0  644b20422fc32f62f2821e8e   nginx      7
1  644b284b2fc32f62f2821e9e   nginx      7
2  644b20422fc32f62f2821e8d   flask      6
3  644b284b2fc32f62f2821e9d   flask      6

In [17]:
pymongo.DESCENDING
# 1ì´ ì˜¤ë¦„ì°¨ìˆœì¸ë° ë‚´ë¦¼ì°¨ìˆœìœ¼ë¡œ í—·ê°ˆë¦´ ìˆ˜ ìˆê¸° ë•Œë¬¸ì— ë„¤ì´ë°ì„ í•´ ì£¼ì–´ì„œ í—·ê°ˆë¦¬ì§€ ì•ŠìŒ.

-1

### CREATE documents

In [19]:
data = {'subject': 'gulp', 'level': 4}

# insert one data
result = collection.insert_one(data)
print(result.inserted_id)

644b38c58e869284a23d66af

In [20]:
documents = collection.find()
pd.DataFrame(list(documents)).tail(3)

                         _id subject  level
12  644b284b2fc32f62f2821e9e   nginx      7
13  644b284b2fc32f62f2821e9f    less      4
14  644b38c58e869284a23d66af    gulp      4

In [21]:
# insert many data 
data = [
  {'subject': 'webpack', 'level': 7},
  {'subject': 'java', 'level': 6}
]
result = collection.insert_many(data)
print(result.inserted_ids)
# ì…€ ì—¬ëŸ¬ ë²ˆ ì‹¤í–‰í•˜ë©´ ì—¬ëŸ¬ ë²ˆ ë“¤ì–´ê°

[ObjectId('644b397c8e869284a23d66b0'), ObjectId('644b397c8e869284a23d66b1')]

In [23]:
documents = collection.find().skip(3).limit(2)
pd.DataFrame(list(documents)).tail(5)

                        _id subject  level
0  644b20422fc32f62f2821e8b    scss      4
1  644b20422fc32f62f2821e8d   flask      6

### UPDATE documents

In [24]:
collection.update_many({'subject': 'webpack'}, {'$set': {'level': 9}})
# {ìˆ˜ì •í•  ê±°}, {ìˆ˜ì •í•  ë‚´ìš©}

In [25]:
documents = collection.find({'subject': 'webpack'})
pd.DataFrame(list(documents))

                        _id  subject  level
0  644b397c8e869284a23d66b0  webpack      9

### DELETE documents : delete()

In [26]:
# ë ˆë²¨ì´ 7 ì´ìƒì´ ë˜ëŠ” ë°ì´í„°ë¥¼ ëª¨ë‘ ì‚­ì œ
collection.delete_many({'level': {'$gte': 7}})

In [27]:
documents = collection.find()
pd.DataFrame(list(documents))

                         _id subject  level
0   644b20422fc32f62f2821e88  python      4
1   644b20422fc32f62f2821e89     css      2
2   644b20422fc32f62f2821e8a      js      3
3   644b20422fc32f62f2821e8b    scss      4
4   644b20422fc32f62f2821e8d   flask      6
5   644b20422fc32f62f2821e8f    less      4
6   644b284b2fc32f62f2821e98  python      4
7   644b284b2fc32f62f2821e99     css      2
8   644b284b2fc32f62f2821e9a      js      3
9   644b284b2fc32f62f2821e9b    scss      4
10  644b284b2fc32f62f2821e9d   flask      6
11  644b284b2fc32f62f2821e9f    less      4
12  644b38c58e869284a23d66af    gulp      4
13  644b397c8e869284a23d66b1    java      6

# Mongodb
- ë°ì´í„° í¬ë§·ì„ ë³´ë©´ dict, json í¬ë§·ì˜ ë°ì´í„°ë¥¼ ì‚¬ìš©í•œë‹¤. mongodb > dict, json 
- ì´ ë§ì€ json formatì˜ ë°ì´í„°ë¥¼ insertí•˜ëŠ” ê²Œ êµ‰ì¥íˆ ì‰½ë‹¤ë¼ëŠ” ë§ì„. json > insert easy

In [28]:
!pip install geohash2

Collecting geohash2
  Using cached geohash2-1.1.tar.gz (15 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Collecting docutils>=0.3
  Using cached docutils-0.19-py3-none-any.whl (570 kB)
Building wheels for collected packages: geohash2
  Building wheel for geohash2 (setup.py): started
  Building wheel for geohash2 (setup.py): finished with status 'done'
  Created wheel for geohash2: filename=geohash2-1.1-py3-none-any.whl size=15554 sha256=6494469787fb54df3596496a5c438b4ac4e6e6b4e56671365ad674ea156232fc
  Stored in directory: c:\users\user\appdata\local\pip\cache\wheels\97\82\cd\50d2f4984c45d96c316d77f799a099fdb6be3ad355297af3c5
Successfully built geohash2
Installing collected packages: docutils, geohash2
Successfully installed docutils-0.19 geohash2-1.1

WARNING: Ignoring invalid distribution -cipy (c:\programdata\anaconda3\envs\tf\lib\site-packages)
WARNING: Ignoring invalid distribution -cipy (c:\programdata\anaconda3\envs\tf\lib\site-packages)
WARNING: Ignoring invalid distribution -cipy (c:\programdata\anaconda3\envs\tf\lib\site-packages)
WARNING: Ignoring invalid distribution -cipy (c:\programdata\anaconda3\envs\tf\lib\site-packages)
WARNING: Ignoring invalid distribution -cipy (c:\programdata\anaconda3\envs\tf\lib\site-packages)
WARNING: Ignoring invalid distribution -cipy (c:\programdata\anaconda3\envs\tf\lib\site-packages)
WARNING: Ignoring invalid distribution -cipy (c:\programdata\anaconda3\envs\tf\lib\site-packages)
WARNING: Ignoring invalid distribution -cipy (c:\programdata\anaconda3\envs\tf\lib\site-packages)

In [29]:
import zigbang as zb

In [32]:
data = zb.oneroom('ë§ì›ë™')
data.tail(2)

,item_id,sales_type,deposit,rent,size_m2,floor,building_floor,title,address1,manage_cost,reg_date,is_new
98,36358665,ì›”ì„¸,300,55,16.53,2,3,ğŸ’–ğŸ’œê°“ì„±ë¹„ í’€ì˜µì…˜ ì›ë£¸ğŸ’–ğŸ’œìœ„ì¹˜í•«í”ŒğŸ’–ğŸ’œ,ì„œìš¸ì‹œ ë§ˆí¬êµ¬ ë§ì›ë™,5,2023-04-22T10:21:52+09:00,False
99,36362867,ì›”ì„¸,1000,65,42.98,ë°˜ì§€í•˜,3,ğŸ’œ6í˜¸ì„ ì´ˆì—­ì„¸ğŸ’–ê³ ì–‘ì´ì™€í•¨ê»˜ğŸ’–ì±„ê´‘êµ¿ë°˜ì§€í•˜ğŸ’œ,ì„œìš¸ì‹œ ë§ˆí¬êµ¬ ë§ì›ë™,2,2023-04-25T17:14:39+09:00,False

### datafram > list>dict ë°ì´í„°í”„ë ˆì„ì„ ë¦¬ìŠ¤íŠ¸ ì•ˆì— ë”•ì…”ë„ˆë¦¬ê°€ ìˆëŠ” í˜•íƒœë¡œ ë°”ê¿”ë³´ë„ë¡ í•˜ì.

In [35]:
json_data = data.to_dict('records')
json_data[:2]

[{'item_id': 36363281,
  'sales_type': 'ì „ì„¸',
  'deposit': 26000,
  'rent': 0,
  'size_m2': 50.0,
  'floor': '2',
  'building_floor': '4',
  'title': 'ì €ë ´í•œ ë°©3ê°œ ì „ì„¸',
  'address1': 'ì„œìš¸ì‹œ ë§ˆí¬êµ¬ ë§ì›ë™',
  'manage_cost': '3',
  'reg_date': '2023-04-25T16:25:36+09:00',
  'is_new': False},
 {'item_id': 36172801,
  'sales_type': 'ì „ì„¸',
  'deposit': 49900,
  'rent': 0,
  'size_m2': 54.14,
  'floor': '3',
  'building_floor': '5',
  'title': 'â­ë”ë¸”ì—­ì„¸ê¶Œâ­ê³ ê¸‰ìŠ¤ëŸ¬ìš´ ì“°ë¦¬ë£¸â­ë³´ì¦ë³´í—˜ ì „ì„¸ìê¸ˆëŒ€ì¶œ ê°€ëŠ¥â­',
  'address1': 'ì„œìš¸ì‹œ ë§ˆí¬êµ¬ ë§ì›ë™',
  'manage_cost': '7',
  'reg_date': '2023-04-21T12:42:31+09:00',
  'is_new': False}]

In [36]:
# mongoë¼ëŠ” dbë¥¼ ì¼ì—ˆëŠ”ë° zigbangì´ë¼ëŠ” dbë¥¼ í•˜ë‚˜ ìƒˆë¡œ ë§Œë“¤ì
client.zigbang.oneroom.insert_many(json_data)

- ì›¹ì—ì„œ ì‚¬ìš©í•˜ëŠ” json, ë”•ì…”ë„ˆë¦¬ ìë£Œí˜•ì€ ëª½ê³ ë””ë¹„ì— ë„£ê¸°ê°€ êµ‰ì¥íˆ ì‰½ë‹¤! ìœ„ì˜ ì½”ë“œ ì‹¤í–‰í•˜ê³  studio3Tì— refreshí•˜ë©´ zigbangì´ ë§Œë“¤ì–´ì§„ ê²Œ ë³´ì„